.jumbotron {
<<<<<<< HEAD
  background-image: url('./stylesheets/images/Form.png');
=======
<<<<<<< HEAD
  background-image: url('./stylesheets/images/Form.png');
=======
  background-image: url('http://localhost:3000/stylesheets/images/Form.png');
>>>>>>> 958f17e576dbbfffd3d5c2c7c3d8fea7c5ec037a
>>>>>>> d12bd50bad2b5934581b828cb3ece38e6e70ab5e
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}
