.jumbotron {
  background-image: url('http://localhost:3000/stylesheets/images/Form.png');
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}
