.jumbotron {
  /* font-family: BodyCopyBold; */
  background-image: url('./stylesheets/images/Form.png');
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: 800;
  color: lightgrey;
}
