@font-face {
    font-family: HeadersBold;
    font-weight: bold;
    src: url("./HeadersBold.otf") format("opentype");
}

@font-face {
    font-family: BrandName;
    src: url("./BrandName.otf") format("opentype");
}

body {
  font-family: 'Benguiat Rus', arial;
}

a {
  color: #00B7FF;
}
