@font-face {
    font-family: HeadersBold;
    font-weight: bold;
    src: url("./HeadersBold.otf") format("opentype");
}

@font-face {
  font-family: BodyCopyBold;
  font-weight: bold;
  src: url("./BodyCopyBold.ttf") format("truetype");
}

@font-face {
    font-family: BrandName;
    src: url("./BrandName.otf") format("opentype");
}

body {
  font-family: 'Benguiat Rus', arial;
  background-image: url('./images/Background.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}

a {
  color: #00B7FF;
}
