<<<<<<< HEAD
nav {
  position: static;
}

=======
>>>>>>> 958f17e576dbbfffd3d5c2c7c3d8fea7c5ec037a
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
<<<<<<< HEAD
  background-color: rgb(182, 182, 182);
  height: 5em;
  width: 5em;
  border-radius: 50%;
  margin-top: 1.15em;
  background-image: url('./stylesheets/images/Brand.png');
  background-position: center;
  background-size: contain;
=======
>>>>>>> 958f17e576dbbfffd3d5c2c7c3d8fea7c5ec037a
}
