<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="brand-name col-md-12">
        <!-- <h4>экшн<span> </span>хоррор</h4> -->
        <h1>Х<span>иж</span>ина  в лесу</h1>
      </div>
      <p class="col-md-5 offset-md-7">Лес... пикник… Вы всего-то приехали на отдых, но из этого леса вы не можете выбраться уже неделю! Единственный шанс покинуть это зловещее место – это прислушаться к совету лесника и найти хижину. Но никто из вас даже не подозревает, какие ужасы
        скрываются за ее дряхлой дверью…</p>
    </div>
  </div>
</div>